@model List<Friend>

@{
    @* Layout = "~/Views/Shared/_Layout.cshtml"; *@
    ViewBag.Title = "MVC App";
}

<div class="card-deck">
    @foreach (var friend in Model)
        {
            <div class="card m-3" >
                <div class="card-header">
                    <h3>@friend.Name</h3>
                </div>
                <img class="card-img-top" src="~/images/NET_core.png" alt="image" />
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary">Show</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
</div>

@* <p>Hello world from MVC (Index).</p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
    </tr>
    <tr>
        @foreach (var friend in Model)
        {
            <tr>
                <td>@friend.Id</td>
                <td>@friend.Name</td>
                <td>@friend.Email</td>
                <td>@friend.City</td>
            </tr>
        }
    </tr>
</table> *@

@section Scripts
{
    <script src=""></script>
}
